<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="orion_gazebo_control">

    <gazebo>

      <plugin
          filename="libgz_ros2_control-system.so"
          name="gz_ros2_control::GazeboSimROS2ControlPlugin">

        <parameters>
          $(find-pkg-share orion_control)/config/controllers.yaml
        </parameters>

      </plugin>

    </gazebo>

  </xacro:macro>

</robot>
