# ===========================
# ROS 2 Build Artifacts
# ===========================

build/
install/
log/

# ===========================
# Python
# ===========================

__pycache__/
*.pyc

# ===========================
# Archives
# ===========================

*.zip
*.tar
*.tar.gz

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Linux
# ===========================

*.swp
.DS_Store
