<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================================= -->
  <!--                  ORION ROS2 Control Macro                 -->
  <!-- ========================================================= -->

  <xacro:macro name="orion_ros2_control">

    <ros2_control
        name="orion_system"
        type="system">

      <!-- Gazebo ros2_control Plugin -->

      <hardware>

        <plugin>gz_ros2_control/GazeboSimSystem</plugin>

      </hardware>

      <!-- ===================================================== -->
      <!--                Front Left Wheel Joint                 -->
      <!-- ===================================================== -->

      <joint name="front_left_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>

        <state_interface name="velocity"/>

      </joint>

      <!-- ===================================================== -->
      <!--               Front Right Wheel Joint                 -->
      <!-- ===================================================== -->

      <joint name="front_right_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>

        <state_interface name="velocity"/>

      </joint>

      <!-- ===================================================== -->
      <!--                 Rear Left Wheel Joint                 -->
      <!-- ===================================================== -->

      <joint name="rear_left_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>

        <state_interface name="velocity"/>

      </joint>

      <!-- ===================================================== -->
      <!--                Rear Right Wheel Joint                 -->
      <!-- ===================================================== -->

      <joint name="rear_right_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>

        <state_interface name="velocity"/>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
